.twicon img {
    max-width: 100%;
    vertical-align: middle;
    border-radius: 50%;
}

.tag-list .span-tag {
    margin-right: 5px;
    margin-left: 5px;
}

.tag-list .span-tag::before {
    content: "#";
}

.site-title {
    color: lightgray !important;
}
